header{
    text-align: center;
    height: 70px;
    width: 100%;
    background-color: black;
    background-attachment: fixed;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
}

.reference{
    margin: auto;
}

a{
    text-decoration: none;
    color: #e4e4e4;
    font-weight: bolder;
}
body, select, input, button, textarea{  
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
body, select, input{  
    color: #495057;
}

.italic{
    font-style: italic;
}

body{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

.background{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


h1, p, label, span{
    
    color: #e4e4e4;
}

h1, p {
    text-align: center;
    
}

h1{
    
    margin-top: 50px;
    font-weight: 400;
    line-height: 1.2;
}

p {
    margin: 15px 0 30px;
    font-size: 1.125rem;

  }


span{
    font-size: 0.9rem;
  }

.paragraf{
    text-align: left;
    margin: 10px 30px;
}

form{
    background-color: rgb(27, 27, 50, 0.8);
    height: 100%;
    width: 700px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-top: 50px;
}

label{
    margin: 10px 30px;
    align-items: center;
    font-size: 1.125rem;

}

.input, .button{
    width: 640;
    height: 40px;
    margin: 10px 30px 20px;
    border-radius: 5px;
    padding-left: 15px;
}

.prefix{
    display: flex;
    flex-direction: column;
}

.radio, .check{
    margin: 1px 20px;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.option{
    margin: 2px 10px;
}

textarea{
    width: 640;
    margin: 10px 30px 20px;
    border-radius: 5px;
    padding-left: 15px;
    padding: 0.625rem;
    resize: vertical;
}

.button{
    cursor: pointer;
    background-color:  #37af65;
    color: white;
}

.suggestions{
    margin: 15px 0 5px 30px;
}

@media (max-width: 750px) {
    
  header {
    width: 100%;
    height: 50px;
  }

  .suggestions{
    text-align: center;
  }
    
    h1 {
      margin-top: 30px;
      font-size: 32px;
    }
    
    p {
      margin-bottom: 15px;
      font-size: 18px;
    }
    
    form {
      margin: auto;
      width: 90%;
      max-width: 600px;
      padding-top: 30px;
    }
    
    .input, .button, textarea {
      width: 90%;
      margin: auto;
    }
    
    .button{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .suggestions {
      margin: 20px 0 5px 1px;
    }
  }